body {
  background-color: #000000ec;
  color: #ffffffd1;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 5px 10px -20px 10px;
}


h2 {
  font-size: 20px;
  text-align: center;
  margin: 40px 10px 10px 10px;
}


h3 {
  font-size: 16px;
  text-align: center;
  margin: 5px 0px 0px 0px;
}

li {
  font-size: 15px;
  padding: 15px 0 0 0;
}



/* 予測用のテーブル設計 */
.predict {
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  text-align: center;
}

.predict th {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.predict td {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 1px;
  word-break: break-all;
}