
/* コンテンツのメイン位置調整 */
.mobile-main{
  font-size: 12pt;
  padding: 1rem 3rem 1rem 3rem; 
  line-height: 1.8em
}

.pc-main{
  font-size: 14pt;
  padding: 3rem 15rem 3rem 15rem; 
  line-height: 1.8em;

}


body{
  background-color: #000000e4;
  color: #ffffffd1;
}

h1{
  font-size: 16pt;
  margin: 0em 0 1.0em 0;
  padding: 0.5em;
  background: #a9a9a990;
  border-left: solid 5px rgb(255, 168, 81);
}

h2{
  font-size: 16pt;
  color: #ffffffd1;
  padding: 1.0em 0;
  /* border-top: solid 0.5px #ffffffd1; */
  /* border-bottom: solid 0.5px #ffffffd1; */
}

header {
  text-align: center;
  width: 100%;
  background-color: rgb(47, 23, 4);
}


.page-link{
  color: rgb(255, 168, 81);
}

/************* ↓↓↓↓Note-List↓↓↓↓ **************/
.tag-group-block{
  display: inline-block;
  margin: 0.5rem;
  font-size: 14pt;
  text-align: center;
  box-shadow: rgb(255, 168, 81) 0px 0px 0px 1px;
  border-radius: 15px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}


.note-title{
  font-size: 16pt;
}

.note-tag{
  font-size: 10pt;
  color: rgb(255, 168, 81);
}

.note-date{
  font-size: 10pt;
  margin: 0rem 0.5rem 0rem 0.5rem;
  
}
.note-text{
  margin: 0.5rem 0 0.5rem 0;
  font-size: 10pt;
  line-height: 1.6em
}

/************* ↑↑↑↑Note↑↑↑↑ **************/



/* 本日の予想一覧 */
.today-predict-list{
  margin: 2rem 3rem 2rem 3rem;
  box-shadow: rgb(255, 168, 81) 0px 0px 7px 1px;
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
}



/* 予測用のテーブル設計 */
.predict-table {
  width: 100%;
  margin: auto;
  text-align: center;

}

.predict-table th {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  text-align: center;
  white-space: nowrap;

}

.predict-table td {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 1px;
  word-break: break-all;
  text-align: center;
  white-space: nowrap;
}






/************************ 基本 ************************/
/* PC */
.header-logo-pc{
  font-size: 46px;
  font-weight:bold;
}

.header-title-pc {
  font-size: 36px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.kakugen-pc{
  font-size: 20px;
  background:linear-gradient(transparent 90%, rgb(221, 153, 100) 95%);
}

.pc-title{
  font-size: 36px;
  text-align: center;
  margin: 30px 20px 20px 20px;
  line-height: 1.3em

}

.pc-content{
  font-size: 20px;
  margin: 20px 70px 10px 70px;
  line-height: 1.8em
}

.pc-content-center{
  font-size: 20px;
  margin: 20px 70px 10px 70px;
  line-height: 1.8em;
  text-align: center;

}


/* mobile */

.header-logo-mobile{
  font-size: 36px;
  font-weight:bold;
}

.header-title-mobile {
  font-size: 22px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.kakugen-mobile{
  font-size: 16px;
  background:linear-gradient(transparent 90%, rgb(221, 153, 100) 95%);
}

.mobile-title{
  font-size: 20px;
  text-align: center;
  margin: -40px 10px 20px 10px;
  line-height: 1.3em
}

.mobile-content{
  font-size: 16px;
  margin: 20px 10px 10px 10px;
  line-height: 1.8em
}

.mobile-content-center{
  font-size: 16px;
  margin: 20px 10px 10px 10px;
  line-height: 1.8em;
  text-align: center;
}















.dmm-ad{
  display: flex;
  justify-content: center;
}






.btn-return{
  margin-left: auto;
  margin-right: auto;
}





/* center_region */
.center_region{
  padding: 20px 0px 0px 0px; 
}
